<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Shekhar</title>

    <!-- bootstrap files -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- CSS -->
    <style>
      .loader {
        text-align: center;
        border: 16px solid #f3f3f3; /* Light grey */
        border-top: 16px solid #3498db; /* Blue */
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
      }

      
      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }
    </style>

    <!-- Script -->

    <script>
      // fetch and parse collection JOIN json data
        async function getDetails() {
            document.getElementById('loader').hidden = false;
            var response = await fetch('https://shekharincubate.herokuapp.com/api/m1m2join');
            var  jsonData = await response.json();
            populateTable(jsonData)
        }

      // populate the json data in table and render 
      function populateTable(jsonData) {
            var tableBody = document.getElementById("tableBody");
            var domChange = " ";
            for(var i=0; i<jsonData[0].length; i++){

               domChange += `<tr>
                    <th scope="row">${i}</th>
                    <td>${jsonData[0][i].team_name}</td>
                    <td>${jsonData[0][i].full_name}</td>
                    <td>${jsonData[0][i].email}</td>
                    <td>${jsonData[0][i].number}</td>
                    <td>${jsonData[0][i].city}</td>
                    <td>${jsonData[0][i].url}</td>
                </tr>`; 

            }
            for(var i=0; i<jsonData[1].length; i++){

              domChange += `<tr>
                  <th scope="row">${i}</th>
                  <td>${jsonData[1][i].team_name}</td>
                  <td>${jsonData[1][i].full_name}</td>
                  <td>${jsonData[1][i].email}</td>
                  <td>${jsonData[1][i].number}</td>
                  <td>${jsonData[1][i].city}</td>
                  <td>${jsonData[1][i].url}</td>
              </tr>`; 

              }
            document.getElementById('loader').hidden = true;

            // changing JavaScript DOM only one time
            tableBody.innerHTML += domChange;

            document.getElementById('table').hidden = false;
            
        }
        
    </script>

  </head>

  <body>
  <div style="text-align: center">
    
    <h1 style="text-align: center" class="m-3">Hello Dev World!!</h1>
    <button type="button" class="btn btn-primary m-5" onclick="getDetails()">Perform Join</button>

  </div>
  <div >

    <div style="margin:5em auto;"  class="loader" id="loader" hidden>

    </div>

    <table class="table" id="table" hidden>
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Team Name</th>
          <th scope="col">Full Name </th>
          <th scope="col">Email</th>
          <th scope="col">Number</th>
          <th scope="col">City</th>
          <th scope="col">URL</th>

        </tr>
      </thead>
      <tbody id="tableBody">
      
      </tbody>
    </table>

  </div>
    

      <!-- jQuery -->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </body>

  
</html>
